*{
    margin:0;
    padding:0;
}

body{
    background-color:#18213F;
    color: #C070FF;
    font-size: 23px;
    font-weight:900;
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
     height:100vh;
     display:grid;
     grid-template-columns: 50% 50%;
}

.container_botao{
    background-color:#5992e9;
    border-radius:10px;
    padding: 5px;
    color: rgb(5, 5, 5);
    display: block;
    text-decoration:none;
}

.botao_secundario{
    background-color:transparent;
    border:2px solid white;
    border-radius:10px;
    padding: 5px;
    color: rgb(250, 248, 248);
    display: block;
    text-decoration:none;
}

.container_aviso{
    font-size: 15px;
    font-weight: 400;
}